---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Python Programming Language: Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [4]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` updated to take an optional flag parameter.

In [5]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>
Assign function `add_numbers` to variable `a`.

In [6]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<br>
# The Python Programming Language: Types and Sequences

<br>
Use `type` to return the object's type.

In [7]:
type('This is a string')

str

In [8]:
type(None)

NoneType

In [9]:
type(1)

int

In [10]:
type(1.0)

float

In [11]:
type(add_numbers)

function

<br>
Tuples are an immutable data structure (cannot be altered).

In [12]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
Lists are a mutable data structure.

In [13]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [14]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>
This is an example of how to loop through each item in the list.

In [15]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [16]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

<br>
Use `+` to concatenate lists.

In [17]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [18]:
[1]*3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [19]:
1 in [1, 2, 3]

True

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [20]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

<br>
This will return the last element of the string.

In [21]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [22]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [23]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [24]:
x[3:]

's is a string'

In [25]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [26]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

<br>
Make sure you convert objects to strings before concatenating.

In [27]:
#'Chris' + 2

In [28]:
'Chris' + str(2)

'Chris2'

<br>
Dictionaries associate keys with values.

In [29]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [30]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

<br>
Iterate over all of the keys:

In [31]:
for name in x:
    print(x[name])

None
brooksch@umich.edu
billg@microsoft.com

<br>
Iterate over all of the values:

In [32]:
for email in x.values():
    print(email)

None
brooksch@umich.edu
billg@microsoft.com

<br>
Iterate over all of the items in the list:

In [33]:
for name, email in x.items():
    print(name)
    print(email)

Kevyn Collins-Thompson
None
Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com

<br>
You can unpack a sequence into different variables:

In [34]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [35]:
fname

'Christopher'

In [36]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [37]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email

('Christopher', 'Brooks', 'brooksch@umich.edu')

<br>
# The Python Programming Language: More on Strings

In [38]:
#print('Chris' + 2)

In [39]:
print('Chris' + str(2))

Chris2

<br>
Python has a built in method for convenient string formatting.

In [40]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [41]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [42]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [43]:
mpg[0].keys()

dict_keys(['', 'displ', 'cty', 'fl', 'drv', 'hwy', 'trans', 'year', 'model', 'manufacturer', 'class', 'cyl'])

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [44]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [45]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [46]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [47]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [48]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [49]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

Pop-Out question about inline function 'lambda'

In [1]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    # return the first and last element in string 
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person),(lambda x: x.split()[0] + ' ' + x.split()[-1])(person) )

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True Dr. Brooks
True Dr. Collins-Thompson
True Dr. Vydiswaran
True Dr. Romero

True

<br>
# The Python Programming Language: Dates and Times

In [50]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [51]:
tm.time()

1481677792.43

<br>
Convert the timestamp to datetime.

In [52]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2016, 12, 14, 1, 9, 52, 445690)

<br>
Handy datetime attributes:

In [53]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2016, 12, 14, 1, 9, 52)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [54]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [55]:
today = dt.date.today()

In [56]:
today - delta # the date 100 days ago

datetime.date(2016, 9, 5)

In [57]:
today > today-delta # compare dates

True

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [58]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [59]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

<br>
Here's an example of mapping the `min` function between two lists.

In [60]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [61]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [62]:
my_function = lambda a, b, c : a + b

In [63]:
my_function(1, 2, 3)

3

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [5]:
%%time
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 228 µs

<br>
Now the same thing but with list comprehension.

Add the cell magic %%time that we can see that list comprehension is actually faster than function approach.

In [6]:
%%time
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 151 µs

Transform the times_tables function to lst comprehension

In [10]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(10)]

True

In [13]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [c1 + c2 + str(n1)+str(n2) for c1 in lowercase for c2 in lowercase for n1 in digits for n2 in digits]
answer

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49',
 'aa50',
 'aa51',
 'aa52',
 'aa53',
 'aa54',
 'aa55',
 'aa56',
 'aa57',
 'aa58',
 'aa59',
 'aa60',
 'aa61',
 'aa62',
 'aa63',
 'aa64',
 'aa65',
 'aa66',
 'aa67',
 'aa68',
 'aa69',
 'aa70',
 'aa71',
 'aa72',
 'aa73',
 'aa74',
 'aa75',
 'aa76',
 'aa77',
 'aa78',
 'aa79',
 'aa80',
 'aa81',
 'aa82',
 'aa83',
 'aa84',
 'aa85',
 'aa86',
 'aa87',
 'aa88',
 'aa89',
 'aa90',
 'aa91',
 'aa92',
 'aa93',
 'aa94',
 'aa95',
 'aa96',
 'aa97',
 'aa98',
 'aa99',
 'ab00',
 'ab01',
 'ab02',
 'ab03',
 'ab04',
 'ab05',
 'ab06',
 'ab07',
 'ab08',
 'ab09',
 'ab10',
 'ab11',
 'ab12',
 'ab13',
 'ab14',
 'ab15',
 'ab16',
 'ab17',
 'ab18',
 'ab19',
 'ab20',
 'ab21',
 'ab22',
 'ab23',
 'ab24',
 'ab25',
 'ab26',
 'ab27',
 'ab28',
 'ab29',
 'ab30',
 'ab31',
 'ab32',
 'ab33',
 'ab34',
 'ab35',
 'ab36',
 'ab37',
 'ab38',
 'ab39',
 'ab40',
 'ab41',
 'ab42',
 'ab43',
 'ab44',
 'ab45',
 'ab46',
 'ab47',
 'ab48',
 'ab49',
 'ab50',
 'ab51',
 'ab52',
 'ab53',
 'ab54',
 'ab55',
 'ab56',
 'ab57',
 'ab58',
 'ab59',
 'ab60',
 'ab61',
 'ab62',
 'ab63',
 'ab64',
 'ab65',
 'ab66',
 'ab67',
 'ab68',
 'ab69',
 'ab70',
 'ab71',
 'ab72',
 'ab73',
 'ab74',
 'ab75',
 'ab76',
 'ab77',
 'ab78',
 'ab79',
 'ab80',
 'ab81',
 'ab82',
 'ab83',
 'ab84',
 'ab85',
 'ab86',
 'ab87',
 'ab88',
 'ab89',
 'ab90',
 'ab91',
 'ab92',
 'ab93',
 'ab94',
 'ab95',
 'ab96',
 'ab97',
 'ab98',
 'ab99',
 'ac00',
 'ac01',
 'ac02',
 'ac03',
 'ac04',
 'ac05',
 'ac06',
 'ac07',
 'ac08',
 'ac09',
 'ac10',
 'ac11',
 'ac12',
 'ac13',
 'ac14',
 'ac15',
 'ac16',
 'ac17',
 'ac18',
 'ac19',
 'ac20',
 'ac21',
 'ac22',
 'ac23',
 'ac24',
 'ac25',
 'ac26',
 'ac27',
 'ac28',
 'ac29',
 'ac30',
 'ac31',
 'ac32',
 'ac33',
 'ac34',
 'ac35',
 'ac36',
 'ac37',
 'ac38',
 'ac39',
 'ac40',
 'ac41',
 'ac42',
 'ac43',
 'ac44',
 'ac45',
 'ac46',
 'ac47',
 'ac48',
 'ac49',
 'ac50',
 'ac51',
 'ac52',
 'ac53',
 'ac54',
 'ac55',
 'ac56',
 'ac57',
 'ac58',
 'ac59',
 'ac60',
 'ac61',
 'ac62',
 'ac63',
 'ac64',
 'ac65',
 'ac66',
 'ac67',
 'ac68',
 'ac69',
 'ac70',
 'ac71',
 'ac72',
 'ac73',
 'ac74',
 'ac75',
 'ac76',
 'ac77',
 'ac78',
 'ac79',
 'ac80',
 'ac81',
 'ac82',
 'ac83',
 'ac84',
 'ac85',
 'ac86',
 'ac87',
 'ac88',
 'ac89',
 'ac90',
 'ac91',
 'ac92',
 'ac93',
 'ac94',
 'ac95',
 'ac96',
 'ac97',
 'ac98',
 'ac99',
 'ad00',
 'ad01',
 'ad02',
 'ad03',
 'ad04',
 'ad05',
 'ad06',
 'ad07',
 'ad08',
 'ad09',
 'ad10',
 'ad11',
 'ad12',
 'ad13',
 'ad14',
 'ad15',
 'ad16',
 'ad17',
 'ad18',
 'ad19',
 'ad20',
 'ad21',
 'ad22',
 'ad23',
 'ad24',
 'ad25',
 'ad26',
 'ad27',
 'ad28',
 'ad29',
 'ad30',
 'ad31',
 'ad32',
 'ad33',
 'ad34',
 'ad35',
 'ad36',
 'ad37',
 'ad38',
 'ad39',
 'ad40',
 'ad41',
 'ad42',
 'ad43',
 'ad44',
 'ad45',
 'ad46',
 'ad47',
 'ad48',
 'ad49',
 'ad50',
 'ad51',
 'ad52',
 'ad53',
 'ad54',
 'ad55',
 'ad56',
 'ad57',
 'ad58',
 'ad59',
 'ad60',
 'ad61',
 'ad62',
 'ad63',
 'ad64',
 'ad65',
 'ad66',
 'ad67',
 'ad68',
 'ad69',
 'ad70',
 'ad71',
 'ad72',
 'ad73',
 'ad74',
 'ad75',
 'ad76',
 'ad77',
 'ad78',
 'ad79',
 'ad80',
 'ad81',
 'ad82',
 'ad83',
 'ad84',
 'ad85',
 'ad86',
 'ad87',
 'ad88',
 'ad89',
 'ad90',
 'ad91',
 'ad92',
 'ad93',
 'ad94',
 'ad95',
 'ad96',
 'ad97',
 'ad98',
 'ad99',
 'ae00',
 'ae01',
 'ae02',
 'ae03',
 'ae04',
 'ae05',
 'ae06',
 'ae07',
 'ae08',
 'ae09',
 'ae10',
 'ae11',
 'ae12',
 'ae13',
 'ae14',
 'ae15',
 'ae16',
 'ae17',
 'ae18',
 'ae19',
 'ae20',
 'ae21',
 'ae22',
 'ae23',
 'ae24',
 'ae25',
 'ae26',
 'ae27',
 'ae28',
 'ae29',
 'ae30',
 'ae31',
 'ae32',
 'ae33',
 'ae34',
 'ae35',
 'ae36',
 'ae37',
 'ae38',
 'ae39',
 'ae40',
 'ae41',
 'ae42',
 'ae43',
 'ae44',
 'ae45',
 'ae46',
 'ae47',
 'ae48',
 'ae49',
 'ae50',
 'ae51',
 'ae52',
 'ae53',
 'ae54',
 'ae55',
 'ae56',
 'ae57',
 'ae58',
 'ae59',
 'ae60',
 'ae61',
 'ae62',
 'ae63',
 'ae64',
 'ae65',
 'ae66',
 'ae67',
 'ae68',
 'ae69',
 'ae70',
 'ae71',
 'ae72',
 'ae73',
 'ae74',
 'ae75',
 'ae76',
 'ae77',
 'ae78',
 'ae79',
 'ae80',
 'ae81',
 'ae82',
 'ae83',
 'ae84',
 'ae85',
 'ae86',
 'ae87',
 'ae88',
 'ae89',
 'ae90',
 'ae91',
 'ae92',
 'ae93',
 'ae94',
 'ae95',
 'ae96',
 'ae97',
 'ae98',
 'ae99',
 'af00',
 'af01',
 'af02',
 'af03',
 'af04',
 'af05',
 'af06',
 'af07',
 'af08',
 'af09',
 'af10',
 'af11',
 'af12',
 'af13',
 'af14',
 'af15',
 'af16',
 'af17',
 'af18',
 'af19',
 'af20',
 'af21',
 'af22',
 'af23',
 'af24',
 'af25',
 'af26',
 'af27',
 'af28',
 'af29',
 'af30',
 'af31',
 'af32',
 'af33',
 'af34',
 'af35',
 'af36',
 'af37',
 'af38',
 'af39',
 'af40',
 'af41',
 'af42',
 'af43',
 'af44',
 'af45',
 'af46',
 'af47',
 'af48',
 'af49',
 'af50',
 'af51',
 'af52',
 'af53',
 'af54',
 'af55',
 'af56',
 'af57',
 'af58',
 'af59',
 'af60',
 'af61',
 'af62',
 'af63',
 'af64',
 'af65',
 'af66',
 'af67',
 'af68',
 'af69',
 'af70',
 'af71',
 'af72',
 'af73',
 'af74',
 'af75',
 'af76',
 'af77',
 'af78',
 'af79',
 'af80',
 'af81',
 'af82',
 'af83',
 'af84',
 'af85',
 'af86',
 'af87',
 'af88',
 'af89',
 'af90',
 'af91',
 'af92',
 'af93',
 'af94',
 'af95',
 'af96',
 'af97',
 'af98',
 'af99',
 'ag00',
 'ag01',
 'ag02',
 'ag03',
 'ag04',
 'ag05',
 'ag06',
 'ag07',
 'ag08',
 'ag09',
 'ag10',
 'ag11',
 'ag12',
 'ag13',
 'ag14',
 'ag15',
 'ag16',
 'ag17',
 'ag18',
 'ag19',
 'ag20',
 'ag21',
 'ag22',
 'ag23',
 'ag24',
 'ag25',
 'ag26',
 'ag27',
 'ag28',
 'ag29',
 'ag30',
 'ag31',
 'ag32',
 'ag33',
 'ag34',
 'ag35',
 'ag36',
 'ag37',
 'ag38',
 'ag39',
 'ag40',
 'ag41',
 'ag42',
 'ag43',
 'ag44',
 'ag45',
 'ag46',
 'ag47',
 'ag48',
 'ag49',
 'ag50',
 'ag51',
 'ag52',
 'ag53',
 'ag54',
 'ag55',
 'ag56',
 'ag57',
 'ag58',
 'ag59',
 'ag60',
 'ag61',
 'ag62',
 'ag63',
 'ag64',
 'ag65',
 'ag66',
 'ag67',
 'ag68',
 'ag69',
 'ag70',
 'ag71',
 'ag72',
 'ag73',
 'ag74',
 'ag75',
 'ag76',
 'ag77',
 'ag78',
 'ag79',
 'ag80',
 'ag81',
 'ag82',
 'ag83',
 'ag84',
 'ag85',
 'ag86',
 'ag87',
 'ag88',
 'ag89',
 'ag90',
 'ag91',
 'ag92',
 'ag93',
 'ag94',
 'ag95',
 'ag96',
 'ag97',
 'ag98',
 'ag99',
 'ah00',
 'ah01',
 'ah02',
 'ah03',
 'ah04',
 'ah05',
 'ah06',
 'ah07',
 'ah08',
 'ah09',
 'ah10',
 'ah11',
 'ah12',
 'ah13',
 'ah14',
 'ah15',
 'ah16',
 'ah17',
 'ah18',
 'ah19',
 'ah20',
 'ah21',
 'ah22',
 'ah23',
 'ah24',
 'ah25',
 'ah26',
 'ah27',
 'ah28',
 'ah29',
 'ah30',
 'ah31',
 'ah32',
 'ah33',
 'ah34',
 'ah35',
 'ah36',
 'ah37',
 'ah38',
 'ah39',
 'ah40',
 'ah41',
 'ah42',
 'ah43',
 'ah44',
 'ah45',
 'ah46',
 'ah47',
 'ah48',
 'ah49',
 'ah50',
 'ah51',
 'ah52',
 'ah53',
 'ah54',
 'ah55',
 'ah56',
 'ah57',
 'ah58',
 'ah59',
 'ah60',
 'ah61',
 'ah62',
 'ah63',
 'ah64',
 'ah65',
 'ah66',
 'ah67',
 'ah68',
 'ah69',
 'ah70',
 'ah71',
 'ah72',
 'ah73',
 'ah74',
 'ah75',
 'ah76',
 'ah77',
 'ah78',
 'ah79',
 'ah80',
 'ah81',
 'ah82',
 'ah83',
 'ah84',
 'ah85',
 'ah86',
 'ah87',
 'ah88',
 'ah89',
 'ah90',
 'ah91',
 'ah92',
 'ah93',
 'ah94',
 'ah95',
 'ah96',
 'ah97',
 'ah98',
 'ah99',
 'ai00',
 'ai01',
 'ai02',
 'ai03',
 'ai04',
 'ai05',
 'ai06',
 'ai07',
 'ai08',
 'ai09',
 'ai10',
 'ai11',
 'ai12',
 'ai13',
 'ai14',
 'ai15',
 'ai16',
 'ai17',
 'ai18',
 'ai19',
 'ai20',
 'ai21',
 'ai22',
 'ai23',
 'ai24',
 'ai25',
 'ai26',
 'ai27',
 'ai28',
 'ai29',
 'ai30',
 'ai31',
 'ai32',
 'ai33',
 'ai34',
 'ai35',
 'ai36',
 'ai37',
 'ai38',
 'ai39',
 'ai40',
 'ai41',
 'ai42',
 'ai43',
 'ai44',
 'ai45',
 'ai46',
 'ai47',
 'ai48',
 'ai49',
 'ai50',
 'ai51',
 'ai52',
 'ai53',
 'ai54',
 'ai55',
 'ai56',
 'ai57',
 'ai58',
 'ai59',
 'ai60',
 'ai61',
 'ai62',
 'ai63',
 'ai64',
 'ai65',
 'ai66',
 'ai67',
 'ai68',
 'ai69',
 'ai70',
 'ai71',
 'ai72',
 'ai73',
 'ai74',
 'ai75',
 'ai76',
 'ai77',
 'ai78',
 'ai79',
 'ai80',
 'ai81',
 'ai82',
 'ai83',
 'ai84',
 'ai85',
 'ai86',
 'ai87',
 'ai88',
 'ai89',
 'ai90',
 'ai91',
 'ai92',
 'ai93',
 'ai94',
 'ai95',
 'ai96',
 'ai97',
 'ai98',
 'ai99',
 'aj00',
 'aj01',
 'aj02',
 'aj03',
 'aj04',
 'aj05',
 'aj06',
 'aj07',
 'aj08',
 'aj09',
 'aj10',
 'aj11',
 'aj12',
 'aj13',
 'aj14',
 'aj15',
 'aj16',
 'aj17',
 'aj18',
 'aj19',
 'aj20',
 'aj21',
 'aj22',
 'aj23',
 'aj24',
 'aj25',
 'aj26',
 'aj27',
 'aj28',
 'aj29',
 'aj30',
 'aj31',
 'aj32',
 'aj33',
 'aj34',
 'aj35',
 'aj36',
 'aj37',
 'aj38',
 'aj39',
 'aj40',
 'aj41',
 'aj42',
 'aj43',
 'aj44',
 'aj45',
 'aj46',
 'aj47',
 'aj48',
 'aj49',
 'aj50',
 'aj51',
 'aj52',
 'aj53',
 'aj54',
 'aj55',
 'aj56',
 'aj57',
 'aj58',
 'aj59',
 'aj60',
 'aj61',
 'aj62',
 'aj63',
 'aj64',
 'aj65',
 'aj66',
 'aj67',
 'aj68',
 'aj69',
 'aj70',
 'aj71',
 'aj72',
 'aj73',
 'aj74',
 'aj75',
 'aj76',
 'aj77',
 'aj78',
 'aj79',
 'aj80',
 'aj81',
 'aj82',
 'aj83',
 'aj84',
 'aj85',
 'aj86',
 'aj87',
 'aj88',
 'aj89',
 'aj90',
 'aj91',
 'aj92',
 'aj93',
 'aj94',
 'aj95',
 'aj96',
 'aj97',
 'aj98',
 'aj99',
 ...]

<br>
# The Python Programming Language: Numerical Python (NumPy)

In [14]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [15]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

<br>
Or just pass in a list directly

In [17]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

<br>
Pass in a list of lists to create a multidimensional array.

In [18]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

<br>
Use the shape method to find the dimensions of the array. (rows, columns).

similar to dim() function in R

In [70]:
m.shape

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [7]:
n = np.arange(0,  30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

<br>
`reshape` returns an array with the same data with a new shape.

In [9]:
n = n.reshape(3, 5) # reshape array to be 3 rows x5 columns
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [12]:
o = np.linspace(0, 4, 12) # return 9 evenly spaced values from 0 to 4
o

array([ 0.        ,  0.36363636,  0.72727273,  1.09090909,  1.45454545,
        1.81818182,  2.18181818,  2.54545455,  2.90909091,  3.27272727,
        3.63636364,  4.        ])

<br>
`resize` changes the shape and size of array in-place.

In [14]:
o.resize(3, 4)
o

array([[ 0.        ,  0.36363636,  0.72727273,  1.09090909],
       [ 1.45454545,  1.81818182,  2.18181818,  2.54545455],
       [ 2.90909091,  3.27272727,  3.63636364,  4.        ]])

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [15]:
np.ones((3, 2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [16]:
np.zeros((2, 3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [18]:
np.eye(3) #*I*

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [21]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

<br>
Create an array using repeating list (or see `np.tile`)

In [22]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

<br>
Repeat elements of an array using `repeat`.

In [23]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

<br>
#### Combining Arrays

In [24]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [25]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [26]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [84]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

[5 7 9]
[-3 -3 -3]

In [85]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

[ 4 10 18]
[ 0.25  0.4   0.5 ]

In [86]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

[1 4 9]

<br>
**Dot Product:**  

$\begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [27]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

32

In [88]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

2

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [29]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
The shape of array `z` is `(2,3)` before transposing.

In [30]:
z.shape

(2, 3)

<br>
Use `.T` to get the transpose.

In [31]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

<br>
The number of rows has swapped with the number of columns.

In [32]:
z.T.shape

(3, 2)

<br>
Use `.dtype` to see the data type of the elements in the array.

In [34]:
z.dtype

dtype('float32')

<br>
Use `.astype` to cast to a specific type.

In [33]:
z = z.astype('f')
z.dtype

dtype('float32')

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [20]:
a = np.array([-4, -2, 1, 3, 5])

In [21]:
a.sum()

3

In [22]:
a.max()

5

In [23]:
a.min()

-4

In [24]:
a.mean()

0.59999999999999998

In [25]:
a.std()

3.2619012860600183

<br>
`argmax` and `argmin` return the index(position) of the maximum and minimum values in the array.

In [26]:
a.argmax()

4

In [27]:
a.argmin()

0

<br>
## Indexing / Slicing

In [28]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

<br>
Use bracket notation to get the value at a specific index. Remember that indexing **starts at 0**.

In [104]:
s[0], s[4], s[-1]

(0, 16, 144)

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [105]:
s[1:5]

array([ 1,  4,  9, 16])

<br>
Use negatives to count from the back.

In [106]:
s[-4:]

array([ 81, 100, 121, 144])

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [107]:
s[-5::-2]

array([64, 36, 16,  4,  0])

<br>
Let's look at a multidimensional array.

In [54]:

r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
Use bracket notation to slice: `array[row, column]`

In [32]:
r[2, 2]

14

<br>
And use : to select a range of rows or columns

In [33]:
r[3, 3:6]

array([21, 22, 23])

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [111]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

<br>
This is a slice of the last row, and only every other element.

In [37]:
r[-1, ::2]

array([30, 32, 34])

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [36]:
r[r > 30]

array([31, 32, 33, 34, 35])

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [38]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [55]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

<br>
Set this slice's values to zero ([:] selects the entire array)

In [56]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

<br>
`r` has also been changed!

In [57]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [58]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
Now when r_copy is modified, r will not be changed.

In [59]:
r_copy[:] = 10
y[:] =11
print(r_copy, '\n')
print(y,'\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[11 11 11 11 11 11]
 [11 11 11 11 11 11]
 [11 11 11 11 11 11]
 [11 11 11 11 11 11]
 [11 11 11 11 11 11]
 [11 11 11 11 11 11]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

In [47]:
old = np.array([[1, 1, 1],
                [1, 1, 1]])
#
new = old
new[0, :2] = 0

print(old)

[[0 0 1]
 [1 1 1]]

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [63]:
test = np.random.randint(0, 10, (4,4))
test

array([[2, 7, 9, 1],
       [5, 9, 0, 7],
       [1, 4, 8, 0],
       [8, 5, 0, 4]])

<br>
Iterate by row:

In [64]:
for row in test:
    print(row)

[2 7 9 1]
[5 9 0 7]
[1 4 8 0]
[8 5 0 4]

<br>
Iterate by index:

In [65]:
for i in range(len(test)):
    print(test[i])

[2 7 9 1]
[5 9 0 7]
[1 4 8 0]
[8 5 0 4]

<br>
Iterate by row and index:

In [66]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [2 7 9 1]
row 1 is [5 9 0 7]
row 2 is [1 4 8 0]
row 3 is [8 5 0 4]

<br>
Use `zip` to iterate over multiple iterables.

In [67]:
test2 = test**2
test2

array([[ 4, 49, 81,  1],
       [25, 81,  0, 49],
       [ 1, 16, 64,  0],
       [64, 25,  0, 16]])

In [68]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[2 7 9 1] + [ 4 49 81  1] = [ 6 56 90  2]
[5 9 0 7] + [25 81  0 49] = [30 90  0 56]
[1 4 8 0] + [ 1 16 64  0] = [ 2 20 72  0]
[8 5 0 4] + [64 25  0 16] = [72 30  0 20]